//background
$bg-color: #f6f6f6;
$header-color: #fff;
$header-border-bottom: #ced4da;

// text colors
$text-color-primery: #333;
$text-color-secondary: #616161;
$text-color-thirdly: #9c9c9c;

//ribbon
$event-full-color: #f44336;
$event-nearly-full-color: #e91e63;
$event-half-full-color: #3f51b6;
$event-getting-full-color: #2196f3;
$event-fresh-color: #8bc34a;